h1 Create User

form(action="", method="post")
	label Name:
		input(type="text", name="name", value="{{ user.name }}", ng-model="user.name")
	label E-mail:
		input(type="text", name="email", value="{{ user.email }}", ng-model="user.email")
	label Password:
		input(type="text", name="password", value="{{ user.password }}", ng-model="user.password")
	button(ng-click="create(user)") Add